/*applying a general font to the whole page and box-sizing*/
* {
  box-sizing: border-box;
}

body {
  background-color: #b0b9b0;
  background-image: url(img/blacklotus.jpg);
  margin: auto;
}

p {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Domine', serif;
}

/*.inline-image {
  display: inline-block;
}*/

/* TODO implement responsiveness for tablets and above*/
/* mobile first */
[class*="col-"] {
    max-width: 100%;
    display: block;
    padding: 15px;
}

#title-text {
  font-family: 'Domine', serif;
  font-weight: 500;
  font-size: 35px;
  margin: auto;
}

h2 {
  margin: 5px 3px 3px 0px;
  font-weight: 500;
}

.jargon {
  color: #a32e0d;
}

#intro-row .center {
  text-align: center;
}

#intro-row p {
  font-size: 15px;
}

#intro-row {
  color: #e8e8e8;
  background-color: #a32e0d;
  padding: 10px 0px 0px 0px;
  height: 100%;
  box-shadow: 0 0.5px 0.5px 0 rgba(0,0,0,0.2), 0 0.5px 0.5px 0 rgba(0,0,0,0.2);
}

/*div to center align text*/
div .center {
  text-align: center;
}

/*the white bit around the card*/
#card-container {
  display: block;
  margin: auto;
  /*margin-left: auto;
  margin-right: auto;*/
  border-radius: 3px;
  padding: 3px;
  width: 340px;
  height: 475px;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5), 0 0.5px 0.5px 0 rgba(0,0,0,0.5);
}

/*the actual image*/
#card-img {
  position: absolute;
  margin: auto;
  padding: auto;
  display: block;
  width: 336px;
  height: 469px;
}

img {
  padding: 5px;
  position: relative;
}

/*for the overlays on the card*/
div #name-overlay {
  position: relative;
  width: 200px;
  height: 30px;
  top: 25px;
  left: 30px;
}

div #mana-overlay {
  position: relative;
  width: 60px;
  height: 30px;
  left: 250px;
  bottom: 5px;
}

div #type-overlay {
  position: relative;
  width: 250px;
  height: 30px;
  top: 200px;
  left: 30px;
}

div #set-symbol-overlay {
  position: relative;
  width: 30px;
  height: 30px;
  top: 170px;
  left: 280px;
}

div #text-box-overlay {
  position: relative;
  width: 280px;
  height: 120px;
  top: 170px;
  left: 30px;
}

div #power-toughness-overlay {
  position: relative;
  width: 70px;
  height: 30px;
  top: 170px;
  left: 250px;
}

div #artist-overlay {
  position: relative;
  width: 100px;
  height: 20px;
  top: 170px;
  left: 50px;
}

/*the textbox at the end*/
div #card-exp {
  max-width: 100%;
  border-radius: 3px;
  background-color: #efefef;
  padding: 5px 10px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5), 0 0.5px 0.5px 0 rgba(0,0,0,0.5);
}
#card-exp p {
  font-size: 15px;
  margin: 5px;
  font-weight: 500;
}
#card-exp h3 {
  margin: 5px 10px;
  font-family: "Merriweather", serif;
  font-weight: 500;
}

footer div{
  text-align: center;
  margin-top: 20px;
}

footer p{
  margin: 0px;
  font-size: 10px;
  color: white;
}

/*for big screens*/
@media only screen and (min-width: 768px) {
  .col-8 {width:70%;
  margin: auto;}
}
